<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapplication.aditya.theftdetection">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


     <uses-feature android:name="android.hardware.camera" />

     <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />


        <activity android:name="com.firstapplication.aditya.theftdetection.Login">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
         </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.Register">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.ForgotPassword">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.Menu">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.Video">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.PoliceMenu">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.UnresolvedIssues">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.TheftProfile">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.HomeMenu">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.HomeMenuInfo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.firstapplication.aditya.theftdetection.FaceTrackerActivity"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.About"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.UpdateNeighbor"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.UpdateProfile"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.UserSettings"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.firstapplication.aditya.theftdetection.VideoCapture"
            android:label="Face Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bluetooth"
            android:label="Bluetooth" >
            <intent-filter>
                <action android:name="android.intent.action.BT1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>